.eventList{
  margin-top: 5rem;
  padding: 0 2rem;
  display:flex;
  flex-wrap:wrap;
  gap:2rem;
  justify-content:center;
  box-sizing: border-box;
}

.eventList a,
.card-link{
  display: block;
  text-decoration: none;
  width: 250px;
  box-sizing: border-box;
  
  
}